@import url('../styles/variables.css');
@import "tailwindcss";

@font-face {
  font-family: 'Satoshi';
  src: url('/assets/fonts/Satoshi-Variable.ttf') format('truetype');
  font-weight: 100 900;
  font-display: swap;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: 'Satoshi', sans-serif;
  --font-mono: var(--font-geist-mono);
}



body {
  background: var(--background);
  color: var(--foreground);
}

*{
  font-family: 'Satoshi', sans-serif;
}